@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #6066ff;
  height: 70px;
  padding: 10px 25px;
}

.header img {
  height: 35px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.f-cont {
  position: relative;
}

a {
  text-decoration: none;
  color: #ebe4e4;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  color: #ebe4e4;
}

.user:hover {
  cursor: pointer;
}

.context {
  display: none;
  position: absolute;
  background-color: #6066ff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: calc(100% + 20px);
  top: 50px;
  color: #ebe4e4;
}

.context > li {
  list-style-type: none;
}

.user:hover .context {
  display: block;
}

.f-cont:hover .context {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 130px 10%;
  align-items: center;
}

.main > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 385px;
  height: 47px;
  padding: 10px 16px;
}

input {
  border: 2px solid #6066ff;
  border-radius: 10px;
  padding: 10px;
}

label {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  gap: 2px;
  font-size: 14px;
}

.submit-button {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 384px;
  height: 34px;
  background: #8b54ff;
  font-size: 15px;
  color: #fff;
  margin: 0 auto;
}

.bg-viol {
  background: #6066ff;
}

.bg-blue {
  color: #252eff;
}
